fastapi
uvicorn
langgraph
langchain
langchain-openai
docling
faiss-cpu
sqlalchemy
psycopg2-binary
groq
python-multipart
pydantic
python-dotenv
openai
numpy
pandas
passlib[bcrypt]
python-jose[cryptography]
sentence-transformers
celery
redis
loguru
prometheus-fastapi-instrumentator
sentry-sdk
pgvector
pyyaml
